/* -- SIDE BAR -- */
side_bar_width = 350px
side_bar_background = #f2f2f2
side_bar_text_color = #999999
side_bar_text_color_active = #4e729d

/* -- TOP BAR -- */
top_bar_header_height = 60px
top_bar_brand_height = 60px
top_bar_active_item_marker_width = 3px